* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar {
    height: 60px;
    background-color: #0F1319;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 100px;
    padding-bottom: 3px;
    /* margin-top: 4px; */
}

.logo {
    background-image: url(./image/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
    /* margin-bottom: auto; */
}

.border {
    /* margin-top: -2px ; */
    border: 2px solid transparent;
    padding: 3px;
}

.border:hover {
    border: 1.5px solid #fff;
}

.first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.second {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    background-color: #fff;
    height: 40px;
    border-radius: 3px;
}



.search-select {
    background-color: #ffffff;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;
}

.seacrh-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
    background-color: #f3a847;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-search:hover {
    border: 2px solid orange;
}

span {
    font-size: 0.80rem;
}

.nav-second {
    font-size: 0.90rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-2 {
    height: 40px;
    background-color: #232F3E;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}

.nav-ops p {
    display: inline;
    margin-left: 15px;
}

.nav-ops {
    width: 70%;
    font-size: 0.8rem;
}

.nav-deal {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url(./image/heroimg.png);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    height: 40px;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 30px;
}


.hero-message a {
    color: #007185;
}

.shop-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
}

.box {
    height: 400px;
    width: 23%;
    /* border: 2px solid gray; */
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 14px;
}

.footer-1 {
    background-color: #232F3E;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.footer-2 {
    background-color: #0F1319;
    color: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    text-decoration: none;
    color: #DDDDDD;
}

.footer-3 {
    background-color: #0F1319;
    border-top: 0.5px solid #fff;
    color: #fff;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(./image/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}